
.form__block-label {
	margin: 0 0 0.5em 0;
	padding: 0px;
	display: block;
	color: var(--title);
}

.form__radio-label { color: var(--title); }

/*
.form__block-label::after {
  content: "Opcional";
  margin-left: 1em;
  font-size: 0.83em; 
  color: gray;
}

.full-width {
  grid-column: span 2;
}
*/

.form__field,
.form__textarea {
  --_bg: rgba(0,0,0,0.08);
  --_text: #111827;
  --_border: rgb(209 213 219);
  --_active-border: hsl(228 94% 60%);
  --_valid-bg: rgba(27,133,83,0.1); /* rgb(240 253 244); */
  --_invalid-bg: rgb(254 242 242);
  --_highlight: hsl(228 94% 67% / 50%);
  --_valid-text: rgb(27 133 83);

  font-size: max(16px, 1em);
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5em 0.5em;
  background-color: var(--_bg);
  border: 0;
  border-radius: 4px;
  /* transition: outline 145ms ease; */
  color: var(--_text);

  @media (prefers-color-scheme: dark) {
    --_bg: #111827;
    --_text: #f3f4f6;
    --_border: hsl(217deg, 19%, 27%);
    --_valid-bg: rgba(143, 240, 164, 0.2);
    --_invalid-bg: rgba(255, 129, 99, 0.2);
    --_highlight: hsl(200deg 100% 23%);
  }
}

.form__field {
  &:user-invalid {
    background-color: var(--_invalid-bg);
    --_border: rgb(239 68 68);
    --_active-border: rgb(239 68 68);
    color: rgb(255,129,99);
  }

  &:user-valid {
    background-color: var(--_valid-bg);
    --_border: rgb(34 197 94);
    --_active-border: rgb(34 197 94);
    color: var(--_valid-text); /* rgb(143,240,164); */
  }

  &[disabled] {
    background-color: inherit;
    cursor: not-allowed;
  }

  &[readonly] {
    border: 2px dotted var(--_border);
    cursor: not-allowed;
    color: #777;
  }
}

:where(
  .form__textarea,
  .form__field
):focus-visible {
  --_border: var(--_active-border); /* hsl(245, 100%, 42%) */
  /* box-shadow: 0 0 5px .25em var(--_highlight); hsla(245, 100%, calc(42% + 40%), 0.8) o hsla(210, 100%, calc(40% + 42%), 0.8)*/
  outline: 2px solid var(--_border);
  outline-offset: -2px;
}

.form__field {
  line-height: 1;
  height: 2.3rem;
}

.currency-field {
  padding-left: 1.5em;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='1.1' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33'/%3E%3C/svg%3E");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.7em;*/
}

.input-w-icon-container {
  position: relative;
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 1.7em;
  height: 1.7em;
  stroke: var(--title);
}

.form__field[type="file"] {
  cursor: pointer;
  /*background-color: #eee;*/
  padding: 0;
}

.form__checkbox {
  accent-color: red;
}

.form__field::file-selector-button {
  border: none;
  border-right: 1px solid var(--_border);
  padding: 0 .5rem;
  background-color: #fff;
  cursor: inherit;
  height: 100%;
}


.form__textarea {
  min-height: 10rem;
  resize: vertical;
  field-sizing: content;
}

.form__button {
  outline: 0;
  cursor: pointer;
  padding: 5px 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  user-select: none;
}


.form__button[type="submit"] {
  background-color: hsl(213, 73%, 40%);
  color: white;
  
  &:focus-visible {
    box-shadow: hsla(213, 73%, calc(42% + 40%)) 0 0 0 3px;
    outline: none;
  }
}

.form__button[type="reset"] {
  color: #24292e;
  border-color: #d5d8db;
  background-color: #f6f8fa;
  
  &:focus-visible {
    box-shadow: hsla(213, 73%, calc(42% + 40%)) 0 0 0 3px;
    outline: none;
  }
}

.form__button[type="submit"]:active {
  background-color: hsl(213, 73%, 35%);
}

.form__button[type="reset"]:active {
  background-color: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
