@import "form.css";


:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;
  --accent: hsl(200 100% 35%);

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #374151;
    --title: #f3f4f6;
    --text: #9ca3af;
    --accent: hsl(200 100% 30%);
  }
}

body {
  background-color: #f3f4f6;
  color: #333;
  font-family: sans-serif;
  padding: 1rem;
  
  @media (prefers-color-scheme: dark) {
    background-color: #111827;

  }
}


.form {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 95%;
  max-width: 800px;
  background-color: var(--card-bg);
  display: grid;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}
