body{
  height: 100vh;
  width: 100%;
  margin: 0;
  background: #e9e5c0;
}
.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.holder	{ 
  width:200px; 
  float:left; 
  margin-right: 20px;
}

#add, #remove	{ 
  display:block; 
  text-decoration: none;
  text-align: center;
  border:1px solid #ccc; 
  background:#eee; 
  padding:10px;
}
		
select	{
  width:100%; 
  padding:5px; 
  height:300px; 
}
		
option	{ 
  padding:10px; 
}

