body {
  background-color: #b9b9ba;
}
.tab-component {
  border-radius: 10px;
  overflow: hidden;
}

.tab {
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  background-color: #90CAF9;
  box-shadow: none;
}

.tab--activate {
  color: black;
  background-color: white;
}

.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
  padding: 1rem;
  background-color: white;
}
