:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
  }
}

.btn {
  --_bg: #fff;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding: 0 0.75rem;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  height: 2.3rem;
  width: 10em;
  vertical-align: middle;
  border: 1px solid rgb(209 213 219);
  border-radius: 6px;
  user-select: none;
  color: #111827;
  background-color: var(--_bg);
  box-shadow: inset 0 1px 0 0 #ffffff1f;



  /*&:active {
    --_bg: #f8f8f8;  #ebecf0 
  }*/
  
  @media (prefers-color-scheme: dark) {
    --_bg: rgb(22, 29, 43);
    outline: 0;
    color: #f3f4f6;
  }
}

.entity-id:required:user-invalid + .btn {
  border: 1px solid red; /* Change border color for invalid required radio button */
}

.entity-id:checked + .btn {
  border: 1px solid rgb(34 197 94); /* Change border color for checked radio button */
}

.entity-id {
	display: none;
}

.svg {
  display: block;
  fill: none;
  width: 20px;
  height: 20px;
  stroke-width: 2;
  stroke: currentColor;
}

body {
  background-color: var(--bg);
  /*font-family: 'Maven Pro', sans-serif;*/
  font: 100% / normal sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  > * {  width: 50%; }
  
}

/* Animation things */
/*
dialog,
::backdrop {
  opacity: 0;
  transition: opacity 0.5s, display 0.5s allow-discrete;
}


[open],
[open]::backdrop {
  opacity: 1;
}

@starting-style {
  [open],
  [open]::backdrop {
    opacity: 0;
  }
}

::backdrop {
  background-color: rgba(0,0,0,.6);
  opacity: 0.7;
}

.overlay, .overlay::backdrop {
  transition: opacity 0.5s, display 0.5s allow-discrete, overlay 0.5s allow-discrete;
}
*/

.text {
  color: var(--title);
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}
