:root {
  --surface: hsl(221, 39%, 11%);
  --surface2: hsl(215, 28%, 17%);
  --text: #f3f4f6;
  --text2: #9ca3af;
  --brandHSL: 328 100% 54%;

  @media (prefers-color-scheme: light) {
    --surface: lch(90 0 0);
    --surface2: lch(100 0 0);
    --text: lch(20 0 0);
    --text2: lch(40 0 0);
  }
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--surface);
}
/*main {
padding: .5rem 1.5rem;
}*/

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero {
    color: green;
    background-color: var(--surface2);
}

.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translateX(-110vw);

  padding: 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}

.nav:target {
  --state-menu: translateX(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}

.nav__logo {
    font-size: 2.5rem;
    z-index: 1;
}

.nav__hamburguer, 
.nav__close {
  display: flex;
  place-content: center;
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform;
  block-size: 4rem;
  inline-size: 4rem;
  padding: 1rem;
  
  svg {
    width: 100%;
    
    & > line, path {
      stroke: var(--text);
      stroke-width: 7px;
      transition: stroke .25s ease;
    }
  }
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
}

.nav__close {
    transform: var(--state-close);
}

.nav__icon {
    width: 100%;
}

.nav__links {
    background-color: var(--surface2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
/*width: 100vw;
    height: 100vh;*/
    
    /*visibility: hidden;  not keyboard accessible when closed */
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: var(--text);
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width:768px) {
    .nav {
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target {
        --state-close: scale(0);
    }

    .nav__links {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 3rem;
        grid-auto-flow: column;
        /*height: max-content;
        width: max-content;*/

        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link {
        font-size: 1rem;
        letter-spacing: none;
    }
}
