
.layout-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  /*@media (min-width: 768px) {
    display: none;
  }*/
}

.hamburger {
  --text: light-dark(lch(20 0 0), lch(90 0 0));
  --brandHSL: 214 85% 63%; /* 328 100% 54%;*/
  --size: 4rem;

  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  /*margin-inline-start: -1rem;*/
  block-size: var(--size);
  inline-size: var(--size);
  outline: none;
  transition:
    border-color .25s ease,
    background-color .25s ease;

  &:hover {
    border-color: hsl(var(--brandHSL) / 50%)
  }

  &:focus {
    border-color: hsl(var(--brandHSL) / 12%);
    background-color: hsl(var(--brandHSL) / 10%)
  }

  &:hover svg > line {
    stroke: hsl(var(--brandHSL))
  }

  &:active {
    background-color: hsl(var(--brandHSL) / 20%)
  }

  & > svg {
    width: 100%;
    height: 100%;

    & > line {
      stroke: var(--text);
      stroke-width: 7px;
      transition: stroke .25s ease
    }
  }
}
