.item {
  --_item-bg: hsl(0, 0%, 100%);
  --_dropdown-bg: hsl(0, 0%, 100%);
  --_hover-bg: hsl(0, 0%, 95%);
  /* --_text: hsl(221, 39%, 11%); */
  --_header-text: hsl(215, 14%, 34%);

  position: relative;
  display: flex;
  /* gap: 2rem; Solo si se agregan imágenes */
  padding: .75rem;
  background-color: var(--_item-bg);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: .5rem;

  
  header { margin-inline-end: 4rem }

  @media (prefers-color-scheme: dark) {
    --_item-bg: hsl(215, 28%, 17%);
    --_hover-bg: hsl(215, 28%, 22%);
    --_dropdown-bg: hsl(215, 34%, 13%);
    /* --_text: hsl(220, 14%, 96%); */
    --_header-text: hsl(218, 11%, 65%);
  }

  @media (width <= 768px) {
      flex-direction: column;
      gap: .75rem;
  }
}

.item__name {
  margin: 0 0 .75rem 0;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.item__data {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 0;
  justify-content: space-between;
}

.term {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--_header-text);
  margin: 0;
}

.value {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  margin: 0;
}

.dropbtn {
  background-color: transparent;
  padding: .375rem;
  font-size: 1rem;
  border-width: 0;
  cursor: pointer;
  border-radius: .5rem;
  
  svg {
    display: block;
    block-size: 2.5ch;
    stroke-linecap: round;
    stroke: var(--_header-text);
  }
}

.dropdown {
  position: absolute;
  top: .75rem;
  right: .75rem;
}

.dropdown-content {
  display: none;
  margin: 0;
  list-style: none;
  position: absolute;
  right: 0;
  padding: 0;
  background-color: var(--_dropdown-bg);
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  background-color: transparent;
  border-width: 0;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: .5rem;
  min-width: 5rem;
}

.dropdown-content button:hover { background-color: var(--_hover-bg) }

.dropdown:hover .dropdown-content { display: block }

.dropdown:hover .dropbtn { background-color: var(--_hover-bg) }
