@import "item.css";

:root {
  --_bg: hsl(220, 14%, 96%);

  @media (prefers-color-scheme: dark) {
    --_bg: hsl(221, 39%, 11%);
  }
}

html {
  font-family: sans-serif;
  background-color: var(--_bg);
}

* {
  box-sizing: border-box;
}

.items-section > * + * {
  margin-top: 1em;
}
