.btn {
  --_accent: hsl(210 100% 40%);

  --_text-light: hsl(210 10% 30%);
  --_text-dark: hsl(210 5% 95%);
  --_text: var(--_text-light);
  
  --_bg-light: hsl(0 0% 100%);
  --_bg-dark: hsl(210 9% 31%);
  --_bg: var(--_bg-light);

  --_input-well: hsl(210 16% 87%);

  --_border: hsl(216deg, 12%, 67%);
  
  --_highlight-size: 0;
  --_highlight: hsl(210deg 10% 71% / 67%);

  /*--_ink-shadow: 0 1px 0 hsl(210 14% 89%);*/

  --_shadow-strength: 1%;

  font: inherit;
  letter-spacing: inherit;
}

@media (prefers-color-scheme: dark) {
.btn {
    --_bg: var(--_bg-dark);
    --_text: var(--_text-dark);
    --_border: hsl(210 9% 31%);
    --_accent: hsl(210 50% 70%);
    --_highlight: hsl(210deg 100% 0% / 45%);
    --_input-well: hsl(204 10% 10%);
    /*--_ink-shadow: 0 1px 0 hsl(210 11% 15%);*/
    /* --_shdadow-color: var(--_shdadow-color-dark); */
    --_shadow-strength: 25%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .btn {
    transition: box-shadow 145ms ease, outline-offset 145ms ease;
  }
}

.squared {
  line-height: 1.5;
  font-size: 1rem;
  border-radius: .5ch;
  padding: .5ch 1.5ch; /* padding: .75ch 1.75ch; */
}

.rounded {
 	line-height: 1.25rem;
  /* white-space: nowrap;*/
 	font-size: .9rem;
 	border-radius: 9999px;
  padding: .5rem .9rem;
}

.btn {
  cursor: pointer;
  touch-action: manipulation;

  background-color: var(--_bg);
  color: var(--_text);
  border: 2px solid var(--_border);
  box-shadow: 0 0 0 var(--_highlight-size) var(--_highlight);

  transition: ;

  font-weight: 700;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* buttons with icon */
.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

/* icons */
.btn > :where(svg, [data-icon]) {
  block-size: 2ch;
  inline-size: 2ch;
  flex-shrink: 0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* colores aparte 
.btn > :where(svg, [data-icon]) {
  stroke: var(--_accent);
  filter: drop-shadow(var(--_ink-shadow));
}*/

/* show focus ring, unless pressed */
.btn:where(:not(:active)):focus-visible {
  outline-offset: 4px;
}

/* if device does not support hover, highlight the button on pressing */
@media (any-hover: none) {
  .btn:active {
    --_highlight-size: .25rem;
  }
}

/* if device support hover, highlight on hover, unless pressed */
@media (any-hover: hover) {
  .btn:where(:not(:active):hover) {
    --_highlight-size: .25rem;
  }
}

/* disabled buttons */
.btn[disabled] {
  --_bg: none;
  --_text-light: hsl(210 7% 40%);
  --_text-dark: hsl(210 11% 71%);

  cursor: not-allowed;
  box-shadow: none;
  /*box-shadow: 0 1px 2px -1px hsl(220 40% 2%/calc(var(--_shadow-strength) + 9%));*/
}

/* adaptive indigo text */
.btn[type="submit"]:not([disabled]) {
  --_text: var(--_accent);
}

/* red reset */
.btn[type="reset"] {
  --_text-light: hsl(0 80% 50%);
  --_text-dark: hsl(0 100% 89%);
}

.btn[type="button"] {
  appearance: none;
}

/* special dark theme styles */
@media (prefers-color-scheme: dark) {
  .spcl,
  [disabled] {
    --_bg: var(--_input-well);
  }
}
