@import "buttons.css";
@import "buttons.custom.css";

/*@custom-media --OSdark (prefers-color-scheme: dark);*/

html {
  block-size: 100%;
  font-family: system-ui, sans-serif;
  background-color: hsl(220deg, 14%, 96%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(221deg, 39.3%, 11%);
  }
}

body {
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
  padding-inline: 5vmin;

  @media (width <= 720px) {
    padding-block: 10vmin;
  }
}

body, h2, p {
  margin: 0;
}

form {
  background-color: hsl(0deg, 0%, 100%);
  /* border: 1px solid hsl(210deg 14% 89%); */
  border-radius: .5ch;

  @media (prefers-color-scheme: dark) {
    background: hsl(215deg, 28%, 17%);
    /* border: 1px solid hsl(210deg 9% 31%); */
  }
}

.fluid-flex {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  align-items: flex-start;
  padding: 2ch;
  gap: 2ch;
}

section {
  display: grid;
  gap: 1ch;
  text-align: center;
}

.red-squigly {
  text-decoration: red underline wavy;
}
