.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    transform: scale(0);
    /* transition: transform .3s; */
}

.modal__content {
    width: 80vw;
    height: 50vh;
    background-color: #DCD6D0;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 15px 15px hsl(0deg 0% 0% / 0.3);
}

.modal__show {
    transform: scale(1);
}

/* Estilo para el botón */
.modal-button {
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  border-color: #1b1f2326;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset; */
  user-select: none;
  background-color: hsl(213, 73%, 40%);
  color: white;
}
