.control {
  position: relative;
  padding: .3em;
  background-color: WhiteSmoke;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  cursor: pointer;
}

.control:hover {
    background-color: #f3f3f3;
}

.control > summary {
    list-style-type: '↕ ';
}

.control[open] > summary {
    list-style-type: '↕ ';
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: peachpuff;*/
}

.modal__content {
  width: 80%;
  height: auto;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /*box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);*/
  overflow: hidden;
}

.search-field {
  display: block;
  width: 100%;
  border: none;
  padding: 1em;
}

.option-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option {
  padding: 1em;
  border-top: 1px lavender solid;
  border-bottom-width: 0px;
}

body {
  background-color: lavender;
}

.search-field:focus {
  outline: none;
}

.option:hover {
  background-color: #f0f0fc;
}

.option:active {
  background-color: #ececfb;
}


