@import "toast.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: dark light;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  
  display: flex;
  gap: 2ch;
  align-items: center;
  justify-content: center;

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

button {
  font-size: 1.5rem;
  touch-action: manipulation;
}
