:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;
  --border: #f3f4f6;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
    --border: #374151;
  }
}

.container {
  --card-bg: rgb(241 245 249);
  width: 95%;
  max-width: 640px;
  margin: auto;
  
  > * { border-top: 1px solid var(--text); }
  
  > :last-child { border-bottom: 1px solid var(--text);  }
}

details .accordion__content {
  color: var(--text);
	padding: 0 1.2em 1.2em;

  :first-child { margin-top: 0; }

	:last-child { margin-bottom: 0; }
}

summary::-webkit-details-marker {
	display: none;
}

summary {
  color: var(--title);
	padding: 1.2em;
	cursor: pointer;
	list-style-image: none;
	list-style: none;
	position: relative;
	user-select: none;
}

/* Using after since ::marker is very limited. */
summary::after {
  --icon-cloud: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' width='20' height='20' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
	content: "";
	position: absolute;
	right: 1em;
	display: inline-block;
	height: 20px;
	width: 20px;
	background-position: center;
	transition: transform 0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
	mask: var(--icon-cloud);
  background-color: var(--title);
}

details[open] summary::after {
	transform: rotate(180deg);
	fill: red;
	/* background-color: hsl(228 81% 59%); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}
