:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;
  --lg: #0000000e;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
    --lg: #ffffff0d;
  }
}

.tab-wrap {
	overflow: hidden;
	border-radius: 0.5rem;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 40px 0;
	border: 1px solid hsl(200 10% 50% / 15%);
	box-shadow: 0 0 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /*box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);*/
  /*box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);*/
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
	
  /*@media (prefers-color-scheme: dark) {
    box-shadow: 0 1px 0 0 #ffffff0a inset;
  }*/

  /*
	@media (prefers-color-scheme: dark) {
    box-shadow: 0 -3px 0 -2px #ffffff0e;
  }*/
}
/*
.tab-wrap:hover {
}*/

.tab {
	display: none;
}

.tab__content {
	background-color: var(--card-bg);
	padding: 3px 25px;
	width: 100%;
  display: none;
  
  h3 {
    color: var(--title);
  }
  
  p {
    color: var(--text);
  }
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  display: block;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
	display: block;
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  display: block;
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  display: block;
}

.tab:checked + label {
	background-color: var(--card-bg);
	/*box-shadow: 0 1px 0 0 #ffffff0d inset;*/
	cursor: default;
}
/*
.tab:checked + label:hover {
	background-color: var(--card-bg);
}*/

.tab + label {
	width: 100%;
	/*box-shadow: inset 0 1px 0 0 var(--lg);*/
	cursor: pointer;
	/*display: block;*/
	text-decoration: none;
	color: var(--title);
  flex-grow: 3;
	text-align: center;
  user-select: none;
	box-sizing: border-box;
	padding: 0.7rem;

	/*@media (prefers-color-scheme: dark) {
    box-shadow: 0 1px 0 0 #ffffff0e inset;
  }*/
}

@media (min-width: 640px) {
	.tab + label {
		width: auto;
	}
}
/*
.tab + label:hover {
	background-color: var(--hover);
	box-shadow: 0 1px 0 #f4f4f4 inset;
}
*/
/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Maven Pro', sans-serif;
	background-color: var(--bg);
	color: #777;
}

h1,
h2 {
	margin: 0;
	color: #444;
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-bottom: 30px;
}

p {
	line-height: 1.6;
	margin-bottom: 20px;
}
.container {
	max-width:1150px;
	margin:0 auto;
}
