body { font-family:Arial}

:root {
  --_bg: hsl(220, 14%, 96%);

  @media (prefers-color-scheme: dark) {
    --_bg: hsl(221, 39%, 11%);
  }
}

html {
  font-family: sans-serif;
  background-color: var(--_bg);
}

.dropdown {
  --_dropdown-bg: hsl(0, 0%, 100%);
  --_hover-bg: hsl(0, 0%, 95%);
  
  @media (prefers-color-scheme: dark) {
    --_dropdown-bg: hsl(215, 34%, 13%);
    --_hover-bg: hsl(215, 28%, 22%);

  }
}

.dropdown__content {
  position: absolute;
  background-color: var(--_dropdown-bg);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  border-radius: .5rem;
  margin: 0.2rem 0 0 0;
  overflow: hidden;

  li {
    cursor: pointer;
    padding: .5rem 2rem;
  }
}

.dropdown[open] .dropdown__button::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.dropdown__button {
  width:  max-content;
  user-select: none;
  border-radius: .5rem;
  padding: 14px 16px;
  list-style-type: none;
}

.dropdown__button:hover { background-color: var(--_hover-bg) }

.dropdown__content > :hover { background-color: var(--_hover-bg) }
