* {
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
.row {
  display: flex;
}

/* Create unequal columns that sits next to each other */
.column {
  padding: 10px;
  padding: 1em;
  text-align: center;
  min-width: 0; /* evita que el contenido haga que crezca de mas un panel */
}

/* Left and right column */
.column.side {
   flex: 0 0 25%;
}

/* Middle column */
.column.middle {
  flex: 0 0 75%;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* makes the columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* This media query is for the elements in the sidebar if needed. */
/*
@media screen and (max-width: 400px) {
}
*/
