.anchor {
  anchor-name: --anchor-el;
  
  background-color: transparent;
  padding: .375rem;
  font-size: 1rem;
  border-width: 0;
  cursor: pointer;
  border-radius: .5rem;
  
  &:hover { background-color: light-dark(hsl(0, 0%, 95%), hsl(215, 28%, 22%)) }
}

.anchored-notice {
  /* style */
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: light-dark(hsl(0, 0%, 100%), hsl(215, 34%, 13%));
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   
  /* anchor reference  */
  position-anchor: --anchor-el;

  /*  Position top of anchored elem at bottom of anchor  */
  top: anchor(bottom);
  left: anchor(left);
  margin: 4px 0 0 0;
  
  button {
    background-color: transparent;
    border-width: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem;
    min-width: 5rem;
    text-align: start;
    
    &:hover { background-color: light-dark(hsl(0, 0%, 95%), hsl(215, 28%, 22%)) }
  }
}
