.tab-wrap {
  --_bg: #fff;
  --_text: #111827;
  --_border: rgb(209 213 219);
  --_tab-bg: #f2f2f2;
  /*--_tab-hover-bg: #f9f9f9;*/
  
	overflow: hidden;
	border-radius: .4em;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: var(--_bg);
	color: var(--_text);
	margin: 40px 0;
	box-shadow: 0 0 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	@media (prefers-color-scheme: dark) {
    --_bg: rgb(31, 41, 55);
    --_text: rgb(243, 244, 246);
    --_border: rgb(55 65 81);
    --_tab-bg: rgb(21, 28, 43);
    /*--_tab-hover-bg: #2c3c4e;*/
  }
}

.tab {
	display: none;
}

.tab__content {
	padding: 10px 25px;
	width: 100%;  
	position: absolute;
	left: 0;
	z-index: -1;
	opacity: 0;
  transform: scale(0);
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
	opacity: 1;
  transition: 0.3s opacity ease-in;
	position: relative;
	top: 0;
	z-index: 100;
	transform: scale(1);
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
	opacity: 1;
	transition: 0.3s opacity ease-in;
	position: relative;
	top: 0;
	z-index: 100;
	transform: scale(1);
	/*transform: translateY(0px);
	text-shadow: 0 0 0;*/
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
	opacity: 1;
	transition: 0.3s opacity ease-in;
	position: relative;
	top: 0;
	z-index: 100;
	transform: scale(1);
	/*transform: translateY(0px);
	text-shadow: 0 0 0;*/
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
	opacity: 1;
	transition: 0.1s opacity ease-in;
	position: relative;
	top: 0;
	z-index: 100;
	transform: scale(1);
	/*transform: translateY(0px);
	text-shadow: 0 0 0;*/
}

.tab + label {
	cursor: pointer;
	text-decoration: none;
  flex: 1;
	text-align: center;
	background-color: var(--_tab-bg);
  user-select: none;
	text-align: center;
	padding: 0.5rem;
	box-shadow: inset 0 1px 0 0 #ffffff0f;

	/*&:hover {
	  background-color: var(--_tab-hover-bg);
	  box-shadow: 0 1px 0 #f4f4f4 inset;
  }

	@media (min-width: 640px) {
		width: auto;
	}*/
}

.tab:checked + label {
	background-color: var(--_bg);
	/*color: hsl(210, 100%, 60%);*/
	cursor: default;
}

/*.tab:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: #fff;
}*/

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Maven Pro', sans-serif;
	background-color: #e7e7e7;
	color: #777;
	
	@media (prefers-color-scheme: dark) {
    background-color: #111827;
  }
}

h1,
h2 {
	margin: 0;
	color: #444;
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-bottom: 30px;
}

p {
	line-height: 1.6;
	margin-bottom: 20px;
}
.container {
	max-width:1150px;
	margin:0 auto;
}
