.btn {
  --_accent: hsl(210 100% 40%);

  --_text-light: hsl(210 10% 30%);
  --_text-dark: hsl(210 5% 95%);
  --_text: var(--_text-light);

  --_bg-light: hsl(0 0% 100%);
  --_bg-dark: hsl(204 10% 10%);
  --_bg: var(--_bg-light);

  --_bg-active: hsl(0 0% 96%);

  --_input-well: hsl(210 16% 87%);

  --_border-color: hsl(216deg, 12%, 70%);  /* 67 */

  font: inherit;
  letter-spacing: inherit;
}

@media (prefers-color-scheme: dark) {
.btn {
    --_bg: var(--_bg-dark);
     /*--_bg-hover: hsl(204 10% 9%);hsl(210 9% 28%);*/
    --_bg-active: hsl(204 10% 7%); /*hsl(210 9% 25%);*/
    --_text: var(--_text-dark);
    --_border-color: var(--_input-well); /* transparent; hsl(210 9% 30%) */
    --_accent: hsl(210 50% 70%);
    --_input-well: hsl(210 9% 31%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .btn {
    transition: background-color 100ms ease-in-out, transform 0.1s ease-in-out;
  }
}

.squared {
  line-height: 1.5;
  font-size: 1rem;
  border-radius: .55ch;
  padding: .5ch 1.5ch; /* padding: .75ch 1.75ch; */
}

.rounded {
 	line-height: 1.25rem;
  /* white-space: nowrap;*/
 	font-size: .9rem;
 	border-radius: 9999px;
  padding: .5rem 1rem;
}

.btn {
  cursor: pointer;
  touch-action: manipulation;

  background-color: var(--_bg);
  color: var(--_text);
  border-width: 0;
  /*box-shadow: 0 0 0 2px var(--_border-color) inset;*/
  border: 2px solid var(--_border-color);
  /*text-align: center;*/

  font-weight: 700;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* for buttons with icon */
.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  
}

/* for the icons inside the buttons */
.btn > :where(svg, [data-icon]) {
  block-size: 2ch;
  inline-size: 2ch;
  flex-shrink: 0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* colores aparte para los iconos 
.btn > :where(svg, [data-icon]) {
  stroke: var(--_accent);
  filter: drop-shadow(var(--_ink-shadow));
}*/

/* focus state */
.btn:focus-visible {
  outline-offset: 2px;
}

/* hover state */
@media (any-hover: hover) {
  .btn:hover {
    --_bg: var(--_bg-active);
  }
}

/* active state */
.btn:active:not([disabled]) {
  transform: scale(0.95);
}

/* disabled buttons */
.btn[disabled] {
  --_bg: none;
  --_text-light: hsl(210 7% 40%);
  --_text-dark: hsl(210 11% 71%);

  cursor: not-allowed;
}

/* adaptive indigo text */
.btn[type="submit"]:not([disabled]) {
  --_text-light: var(--_accent);
  --_text-dark: var(--_accent); /* hsl(208deg, 100%, 62%);*/
} 

/* red for reset */
.btn[type="reset"] {
  --_text-light: hsl(0 80% 50%);
  --_text-dark: hsl(0 100% 86%);
}

.btn[type="button"] {
  appearance: none;
}

/* special dark theme styles */
@media (prefers-color-scheme: dark) {
  .bgt,
  [disabled] {
    --_bg: var(--_input-well);
    --_border-color: hsl(210 9% 30%);
    --_bg-active: hsl(210 9% 28%);
  }
}

.btn-circle {
  padding: 0;
  border-radius: 50%;
}
