@import "modal.css";
@import "buttons.css";

:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
  }
}

body {
  background-color: var(--bg);
  /*font-family: 'Maven Pro', sans-serif;*/

  font-family: system-ui, sans-serif;
}

.text {
  color: var(--title);
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}
