:root {
  --body-bg-color: hsl(220deg, 14%, 96%);
  --text-color: black;

  @media (prefers-color-scheme: dark) {
    --body-bg-color: hsl(221deg, 39.3%, 11%);
    --text-color: white;
  }
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--body-bg-color);
  
  li {
    display: inline;
    font-size: 18px;
    
    & + li:before {
      padding: 8px;
      color: var(--text-color);
      content: "/\00a0";
    }
    
    a {
      color: hsl(210 100% 50%);
      text-decoration: none;
      
      &:hover {
        /*color: #01447e;*/
        text-decoration: underline;
      }
    }
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}
