.input-label {
	margin: 0 0 .8rem 0;
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 600;
	display: block;
	width: fit-content;
	color: var(--title);
}

/*
.form__radio-label { color: var(--title); }

.input__label::after {
  content: "Opcional";
  margin-left: 1em;
  font-size: 0.83em; 
  color: gray;
}

.full-width {
  grid-column: span 2;
}
*/

.input-field,
.textarea {
  --_bg: hsl(0deg, 0%, 100%);
  --_text: #111827;
  --_ring-color: hsl(0 0% 84%); /* rgb(209 213 219); */
  --_highlight: #5096f1; /*rgb(2 132 199); /* hsl(228deg 94% 67% / 45%) hsl(228deg 94% 67% / 25%) reemplazado para probar algo diferente */
  --_valid-bg: rgb(240 253 244);
  --_invalid-bg: RGB(254, 247, 247);
  --_ring-width: 1px;

  font-size: max(16px, 1em);
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  background-color: var(--_bg);
  /* border: 1px solid var(--_ring-color); */
  border-width: 0;
  box-shadow: 0 0 0 var(--_ring-width) var(--_ring-color) inset, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: .5rem;
  transition: box-shadow 200ms ease-in-out;
  color: var(--_text);

  @media (prefers-color-scheme: dark) {
    --_bg: #111827;
    --_text: #f3f4f6;
    --_ring-color: hsl(210 9% 27%); /* hsl(217deg, 19%, 27%); */
    --_valid-bg: var(--_bg);
    --_invalid-bg: var(--_bg);
    --_highlight: #4174f5; /* hsl(210deg 100% 30%); hsl(210deg 100% 100% / 20%) reemplazado para probar algo diferente */
  }
}

.input-field {
  &:user-invalid {
    background-color: var(--_invalid-bg);
    --_ring-color: rgb(240, 82, 82);
    --_highlight: yellow;
    /*--_focus-ring: rgb(239 68 68);*/
    /* --_text: var(--_ring-color); */
  }

  &:user-valid {
    background-color: var(--_valid-bg);
    --_ring-color: rgb(22 163 74);
    /*--_focus-ring: rgb(34 197 94);*//
    /* --_text: var(--_ring-color); */
  }

  &[disabled] {
    background-color: inherit;
    cursor: not-allowed;
  }

  &[readonly] {
    /*border: 2px dashed var(--_ring-color);*/
    cursor: not-allowed;
    color: #777;
  }
}

:where(
  .input-field,
  .textarea
):focus-visible {
  outline: 1px solid transparent;
  --_ring-width: 2px;
  --_ring-color: var(--_highlight);
}

.input-field {
  line-height: 1;
  height: 2.5rem;
}

.currency-field {
  padding-left: 1.5em;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='1.1' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33'/%3E%3C/svg%3E");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.7em;*/
}

.input-w-icon-container {
  position: relative;
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 1.7em;
  height: 1.7em;
  stroke: var(--title);
}

.icon {
  padding-left: 2rem;
  background-image: url("c22.svg");
  background-position-x: .3rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 1.6rem;
}

.textarea {
  min-height: 10rem;
  resize: vertical;
  field-sizing: content;
}
