.input-field[type="file"] {
  cursor: pointer;
  padding: 0;
}

.form__checkbox {
  accent-color: red;
}

.input-field::file-selector-button {
  border: none;
  border-right: 1px solid var(--_ring-color);
  padding: 0 .5rem;
  background-color: #fff;
  cursor: inherit;
  height: 100%;
}

