:modal {  
  --_bg: #fff;
  --_text: #111827;
  --_border: rgb(229 231 235); /* rgb(209 213 219) */
  --_highlight: hsl(215deg, 16%, 85%);

  width: 92%;
  max-width: 47.375em;
  min-height: 12em;
  /*height: 90%;*/
  max-height: 80vh;
  border-radius: .5em;
  background-color: var(--_bg);
  color: var(--_text); /* or 'inherit' if the parent element defines this color */
  border-width: 0;
  padding: 0;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  margin-top: 1em;
  display: flex;
  flex-direction: column;

  &::backdrop {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: #0003; /* hsl(0 0% 0% / 30%); */
  }

  @media (width >= 640px) {
    margin-top: 12vh;
  }
  
  @media (prefers-color-scheme: dark) {
    --_bg: #1f2937;
    --_text: #f3f4f6;
    --_border: #374151;
    --_highlight: hsl(215deg, 16%, 30%);
  
    box-shadow: inset 0 1px 0 0 #ffffff0f;
  }
}

.modal__header {
  display: flex;
  /* justify-content: space-around;  no needed, I think */ 
  align-items: center; 
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid var(--_border);
}

.close-btn {
  min-width: 0;
  padding: .6ch;
  border-radius: 50%;
  margin: 0;
  border-width: 0;
  
  background-color: var(--_border);
  color: inherit;
  cursor: pointer;
}

.close-btn:hover { background-color: var(--_highlight); }

.svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
