@import "modal.css";
@import "buttons.css";

:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
  }
}

.option-group {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  
  > * + * {
    border-top: 1px solid var(--_border);
    border-bottom: 0;
  }
}

.option {
  --_bg-hover: rgb(249 250 251);/*#f9fafb*/
  --_bg-active: rgb(243 244 246);/*#f3f4f6*/

  padding: 1.2rem;

  &:hover {
    background-color: var(--_bg-hover);
  }

  &:active {
    background-color: var(--_bg-active);
  }

  @media (prefers-color-scheme: dark) {
    --_bg-hover: #29323e;
    --_bg-active: #2e3642;
  }
}

.search-field {
  margin: 0 auto 0 0;
  border-width: 0;
  padding: 0;
  box-shadow: none;
  width: 95%;
  background-color: inherit;
  color: var(--_text);
  font-size: inherit;

  &:focus {
    border-width: 0;
    box-shadow: none;
    outline: 2px solid transparent;
  }
}

body {
  background-color: var(--bg);
  /*font-family: 'Maven Pro', sans-serif;*/
  font-family: system-ui, sans-serif;
}

.text {
  color: var(--title);
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}
