body {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;

  /*@media (max-width: 540px) {
    & > :matches(aside, main) {
      grid-area: stack;
    }
  }*/

  @media (max-width: 768px) {
    > aside,
    > main {
      grid-area: stack;
    }
  }
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: .6s;

  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;

  @media (max-width: 768px) {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: hidden auto;
    overscroll-behavior: contain;

    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(-110vw);
    will-change: transform;
    transition: 
      transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);

    &:target {
      visibility: visible;
      transform: translateX(0);
      transition: transform var(--duration) var(--easeOutExpo);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    --duration: 1ms;
  }
}

#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  @media (min-width: 768px) {
    display: none;
  }
}


/* use this if copying/pasting skeleton */
/*
 @media (max-width: 540px) {
  #sidenav-open > nav {
    background-color: white;
  }
}

#sidenav-button > svg {
  max-width: 50px;

  & > line {
    stroke: black;
    stroke-width: 7px;
  }
} */
