.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  position: fixed; 
  bottom: 1.9em;
  left: 50%;
  transform: translate(-50%);
}

.toast--show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
   0%   {opacity: 1}
   100%  {opacity: 0}
}
