:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;
  --border: #f3f4f6;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
    --border: #374151;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
}

.table-container {  
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	width: 95%;
  max-width: 668px;
	padding: 0 1.2em;
	margin: 0 auto;
	border-radius: .5em;
	background-color: var(--card-bg);
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");*/
}

table {
  /*table-layout: fixed;*/
  width: 100%;
	margin: 0;
	text-align: left;
	font-size: .875rem;
  line-height: 1.25rem;
  border-collapse: collapse;
}

th { color: hsl(210 100% 70%); }

td { color: var(--text); }

.table__caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  color: var(--title);
}

.table__head {
  vertical-align: bottom;
  border-bottom: 1px solid var(--border);
  & th { padding: 0.5rem 0.5rem; }
  /*background-color: rgb(241 245 249);*/
}

.table__body {
  border-bottom: 1px solid var(--border);
  & th { padding: 0.9rem 0.5rem 0.4rem 0.5rem; }
  & td { padding: 0.5rem 0.5rem; }
}

.table__foot {
  text-align: left;
  vertical-align: bottom;
  & td { padding: 0.6rem 0.6rem 0.6rem 0; text-align: right;}
  & th {  text-align: right; padding: 0.6rem 1rem;}
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  table thead, table tfoot th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    /*border-top: 1px solid #e5e7eb;*/
    display: block;
    /*margin-bottom: 1em;*/
  }
  
  .table__body {
    border-bottom-width: 0;
    
    th { padding-top: 0.65rem; }
    > * { border-bottom: 1px solid var(--border); }
  }

  
  table td {
    /*border-top: 1px solid #e5e7eb;*/
    display: block;
    padding: 0.65rem 1rem; 
    text-align: right;
  }
  
  .table__body td::before {
    content: attr(data-label);
    float: left;
    margin-right: .15em;
    font-weight: bold;
  }
  
  .table__foot:last-child {
    
    ::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      color: hsl(210 100% 70%);
    }
  }
}
