:root {
  --bg: #f3f4f6;
  --card-bg: #fff;
  --second-bg: #efefef;
  --title: #111827;
  --text: #4b5563;
  --border: #f3f4f6;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
    --card-bg: #1f2937;
    --second-bg: #171d2d;
    --title: #f3f4f6;
    --text: #9ca3af;
    --border: #374151;
  }
}

.table-container {  
  --_bg: #fff;
  --_text: #111827;
  --_border: rgb(229 231 235); /* rgb(209 213 219) */
  --_active-border: hsl(200 100% 35%);
  --_bg-active: rgb(243 244 246);/*#f3f4f6*/
  
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	width: 95%;
  max-width: 668px;
	padding: 0 1.25em;
	margin: 0 auto;
	border-radius: .5em;
	background-color: var(--_bg);
	color: var(--_text);
	font-size: .875rem;
  line-height: 1.25rem;

	  @media (prefers-color-scheme: dark) {
    --_bg: #1f2937;
    --_text: #f3f4f6;
    --_border: #374151;
    --_bg-active: #2e3642;
  }
}

table {
  width: 100%;
	margin: 0;
	text-align: left;
  border-collapse: collapse;
}

.table__caption {
  font-size: 1.5em;
  margin: .5em 0;

}

th { color: hsl(210, 100%, 60%); }

td { color: var(--text); }

.table__head {
  border-bottom: 1px solid var(--_border);
  & th { padding: 0.5rem; }
}

.table__body {
  border-bottom: 1px solid var(--_border);
  & th { padding: 0.9rem 0.5rem 0.4rem 0.5rem; }
  & td { padding: 0.3rem 0.5rem; }
}

.table__body-items {
  & :where(td:nth-child(3), td:nth-child(5))::before { content: '$' }
  & td:nth-child(4)::after { content: '%' }
}

.table__body-services {
  & td:nth-child(2)::before { content: '$' }
}

.dollar-before::before { content: '$' }

.table__foot {
  & > * {
    display: flex;
    justify-content: space-between;
  }

  & .th {color: hsl(210 100% 60%); font-weight: bold;}
  & > * { padding: 0.5em; }
}

.delete-btn {
  border: none;
  background-color: inherit;
  padding: .3em 0;
  font-size: 1em;
  cursor: pointer;
  color: hsl(0, 100%, 55%);

  &:active { color: hsl(0, 100%, 50%); }
}

@media screen and (max-width: 600px) {
  .table__head {
    position: absolute;
    transform: scale(0);
  }

  .table__body {
    border-bottom-width: 0;

    & th { padding-top: 0.65rem; }

    & tr { border-bottom: 1px solid var(--_border); }

    & td {
      display: block;
      text-align: right;
    }

    & td:last-child { text-align: center; }
  }
  
  .table__body td:not(:last-child)::before {
    content: attr(data-label);
    float: left;
    margin-right: .25em;
    font-weight:  600;
  }
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
}
