@import "action-button.css";

:root {
  --surface: hsl(221, 39%, 11%);
  --surface2: hsl(215, 28%, 17%);
  --text: #f3f4f6;
  --text2: #9ca3af;
  --brandHSL: 328 100% 54%;

  @media (prefers-color-scheme: light) {
    --surface: hsl(220, 14%, 96%);
    --surface2: lch(100 0 0);
    --text: lch(20 0 0);
    --text2: lch(40 0 0);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--surface)
}

main {
 background-color: var(--surface2);
 padding: 0 1.5rem;
 margin: auto;
 width: 100%;
 max-width: 80rem
}

.header {
  background-color: var(--surface2);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
  padding: .2em /* .5em */
}

.nav-link {
  color: var(--text);
  text-decoration: none;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}

.nav-menu {
  display: flex;
  margin: 22px 0;
  list-style: none;
  padding-inline: 1rem;
}

.nav-menu-item {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  margin: 0 10px;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: light-dark(hsl(0, 0%, 95%), hsl(215, 28%, 22%)) ;
  /*transition: 0.5s;*/
}

/* MOBILE */
@media (max-width: 768px) {
  /*body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }*/

  .nav-menu {
    flex-direction: column;
    /*align-items: center;*/
    margin: 0;
    background-color: var(--surface2);
    position: fixed;
    top: 4.5rem;
    left: 100%;
    width: 100%;
    padding: 1.5rem 2rem;

    height: calc(100% - 4.5rem);
    overflow-y: auto;

    transition: visibility .6s, left  .6s cubic-bezier(0.16, 1, 0.3, 1);
    visibility: hidden;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  /*.nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: blue;
  }*/

  /*.nav-toggle {
    display: flex;
  }*/

  .nav-menu_visible {
    visibility: visible;
    left: 0;
  }

  /*.nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }*/
}
