@custom-media --OSdark (prefers-color-scheme: dark);

body {
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vmin;
  padding-inline: 5vmin;

  @media (width <= 720px) {
    padding-block: 10vmin;
  }
}

.button {
  outline: 0;
  cursor: pointer;
  padding: 5px 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  user-select: none;
}


.button[type="submit"] {
  background-color: hsl(213, 73%, 40%);
  color: white;
  
  &:focus-visible {
    box-shadow: hsla(213, 73%, calc(42% + 40%)) 0 0 0 3px;
    outline: none;
  }
}

.button[type="reset"] {
  color: #24292e;
  border-color: #d5d8db;
  background-color: #f6f8fa;
  
  &:focus-visible {
    box-shadow: hsla(213, 73%, calc(42% + 40%)) 0 0 0 3px;
    outline: none;
  }
}

.form__button[type="submit"]:active {
  background-color: hsl(213, 73%, 35%);
}

.form__button[type="reset"]:active {
  background-color: #f3f4f6;
}
