.table-container {  
  --_bg: #fff;
  --_text: rgb(17 24 39);
  --_border: rgb(241 245 249); /* rgb(209 213 219) */
  --_active-border: hsl(200 100% 35%);
  --_header:  hsl(216deg, 12%, 95%);
  
  color: var(--_text);
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	width: 95%;
  max-width: 768px;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 0.5rem;
	background-color: var(--_bg);
	color: var(--_text);

	  @media (prefers-color-scheme: dark) {
    --_bg: #1f2937;
    --_text: #f3f4f6;
    --_border: hsl(217deg, 27%, 22%); /* #374151; */
    --_header: rgb(55 65 81);
  }
}

.table {
  width: 100%;
	/* margin: 0; */
	text-align: right;
  border-collapse: collapse;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.table__caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: var(--_header); */
  font-weight: 600;
}

/* th { color: hsl(210, 100%, 60%); } */

td { padding: .75rem 1rem; }
th { padding: .5rem 1rem; }

.table__head {
  /* border-bottom: 1px solid var(--_border); */
  background-color: var(--_header);
  /*color: rgb(156 163 175);*/
  
}
tbody tr { border-top: 1px solid var(--_border); }
tr > :first-child { text-align: left;  font-weight: 600;}
/*tbody tr td:last-child { display: flex; align-items: center; gap: .4rem;}*/

.table__body-items {
  & :where(td:nth-child(3), td:nth-child(5))::before { content: '$' }
  & td:nth-child(4)::after { content: '%' }
}

.table__body-services {
  & td:nth-child(2)::before { content: '$' }
}

.dollar-before::before { content: '$' }

/*.table__foot {
  & > * {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

  & .th {color: hsl(210 100% 60%); font-weight: bold;}
}*/

td > button {
  --_accent: hsl(210 100% 40%);
  border-width: 0;
  background-color: inherit;
  padding: 0 0.3rem;

  cursor: pointer;
  color: var(--_accent);

  &:active { text-decoration-line: underline; }
}

.destructive { --_accent: hsl(0 80% 50%); }

@media screen and (max-width: 600px) {
  .table__head {
    position: absolute;
    visibility: hidden;
  }

  .table__body {

    & td {
      display: block;
      text-align: right;
    }

    & td:last-child { text-align: center; }
  }
  
  .table__body td:not(:last-child)::before {
    content: attr(data-label);
    float: left;
    margin-right: .3rem;
    font-weight:  600;
  }
}

/* Boring Styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  --bg: #f3f4f6;

  font-family: sans-serif;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (prefers-color-scheme: dark) {
    --bg: #111827;
  }
}
